@import url('./_item/container_item.css');

.video__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1184px;
    min-height: 200px;
    margin:auto;
    margin-top: 72px;
    
}


@media screen and (max-width : 425px) {
    .video__container  {
        
        margin-top: 24px;
       flex-direction: column; 
       justify-content: stretch;
    } 
}

@media screen and (min-width : 425px) and (max-width : 767px) {
    .video__container  {
       
        margin-top: 24px;    
        flex-direction: column; 
        
    } 
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .video__container {
        
        margin-top: 56px; 
        
        
    } 
}
