@import url('../__container/comment/comment.css');

.comments__container{
position: relative;
display: flex;
max-width: 1184px;
justify-content: space-between;
min-height: 283px;
margin-top: 72px;

}

@media screen and (max-width : 425px) {
    .comments__container {
        flex-direction: column;
       
    } 
}

@media screen and (min-width : 425px) and (max-width : 768px) {
    .comments__container {
        flex-direction: column;
        
    } 
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .comments__container {
        flex-direction: column;
        
    } 
}


