
.text_big {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
max-width: 683px;
margin-right: 18px;
color: #FFFFFF;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
}

@media screen and (max-width : 425px) {
    .text_big  {
        font-size: 16px;
        
        
    } 
}